build --incompatible_enable_cc_toolchain_resolution
build --platforms=@aspect_gcc_toolchain//platforms:x86_64_linux
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --cxxopt="-std=c++20"
