[submodule "client/nCine"]
	path = client/nCine
	url = https://github.com/nCine/nCine
	branch = develop
[submodule "client/nCine-libraries"]
	path = client/nCine-libraries
	url = https://github.com/nCine/nCine-libraries
[submodule "tweeny"]
	path = tweeny
	url = https://github.com/mobius3/tweeny
[submodule "deadfish-data"]
    path = assets/data
    url = https://github.com/capturcus/deadfish-data

[submodule "data"]
	path = data
	url = https://github.com/capturcus/deadfish-data
