[submodule "emclient/nCine"]
	path = client/nCine
	url = https://github.com/nCine/nCine
	branch = develop
[submodule "emclient/nCine-libraries"]
	path = client/nCine-libraries
	url = https://github.com/nCine/nCine-libraries
