<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            margin: 0px; /*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
        }
    </style>
</head>
<body>
    <div id="phaser-game">
    </div>

    <div id="htmlStuff" style="display: none;">
        <div>
            Game nickname:
            <input type="text" id="myName" value="asd" />
        </div>
        <div>
            Server address:
            <input type="text" id="myText" value="127.0.0.1:63987"/>
            <button id="myButton">Connect!</button>
        </div>
    </div>
    <div id="lobbyStuff" style="display: none;">
        <button id="readyButton" style="width: 10vw; height: 5vh;">ready</button>
    </div>
</body>
</html>
